.barbell-fit {
  grid-template-columns: minmax(0,2fr) 9vw minmax(50px,10vw) 9vw minmax(0,2fr);
}

.barbell-fit.dense {
  grid-template-columns: minmax(0,2fr) 8vw minmax(45px,9vw) 8vw minmax(0,2fr);
}

@media only screen and (max-width: 600px) {
  .barbell-fit {
    grid-template-columns: minmax(0,2fr) 7vw 40px 7vw minmax(0,2fr);
  }
}