
body{font-family:Arial;margin:0;padding:10px}
.app{max-width:500px;margin:auto}
.bar{display:flex;align-items:center;justify-content:center;margin-top:10px}
.plate{
  width:26px;
  margin:2px;
  background:#c36b2c;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-weight:bold;
}
.plate span{font-size:14px}
